
<router-outlet></router-outlet>
<nav style="display: grid;">
    <a routerLink="">Home</a>
    <a routerLink="/hooks/onchanges">Hooks > Onchanges</a>
    <a routerLink="/hooks/afterviewinit">Hooks > AfterViewInit</a>
    <a routerLink="/hooks/afterviewchecked">Hooks > AfterViewChecked</a>
    <a routerLink="/directives/attributes">Directives > Attributes</a>
    <a routerLink="/directives/structural">Directives > Structural</a>
    <a routerLink="/directives/custom">Directives > Custom</a>
</nav>
